In [1]:
import pandas as pd
import numpy as np

In [2]:
emar = pd.read_csv("emar_emar_detail_vancomycin_IV.csv")

/var/folders/mm/1ns7h3xd5h71r5vbw2p8jkm80000gn/T/ipykernel_87842/3438991256.py:1: DtypeWarning: Columns (23,35,36,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  emar = pd.read_csv('emar_emar_detail_vancomycin_IV.csv')

In [3]:
irrelevant = [
    "prior_infusion_rate",
    "infusion_rate",
    "infusion_rate_adjustment",
    "infusion_rate_adjustment_amount",
    "infusion_rate_unit",
    "route",
    "infusion_complete",
    "completion_interval",
    "new_iv_bag_hung",
    "continued_infusion_in_other_location",
    "restart_interval",
    "side",
    "site",
    "non_formulary_visual_verification",
    "parent_field_ordinal",
    "dose_due",
    "complete_dose_not_given",
    "dose_due_unit",
    "product_description_other",
    "will_remainder_of_dose_be_given",
    "reason_for_no_barcode",
    "subject_id_1",
    "emar_id_1",
    "emar_seq_1",
    "administration_type",
    "pharmacy_id_1",
]

In [4]:
# remove the rows where product description is 'vancomycin', 'vancomycin 125 mg capsule', 'vancomycin 125mg','vancomycin 125 mg', 'vancomycin 250 mg capsule'

emar = emar[
    ~emar["product_description"].isin(
        [
            "vancomycin",
            "vancomycin 125 mg capsule",
            "vancomycin 125mg",
            "vancomycin 125 mg",
            "vancomycin 250 mg capsule",
        ]
    )
]

# remove irrelevant columns
emar = emar.drop(columns=irrelevant)

In [5]:
# remove rows where dose_given is null
emar = emar[emar["dose_given"].notnull()]
emar[emar["subject_id"] == 18522065]

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime,barcode_type,dose_given,dose_given_unit,product_amount_given,product_unit,product_code,product_description
1,18522065,21209557.0,18522065-702,702,18522065-460,46076673.0,NaN,2130-07-12 08:59:00,VANCOMYCIN,Administered,2130-07-12 08:00:00,2130-07-12 09:06:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
3,18522065,21209557.0,18522065-679,679,18522065-460,46076673.0,NaN,2130-07-11 20:02:00,VANCOMYCIN,Administered,2130-07-11 20:00:00,2130-07-11 20:02:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
26281,18522065,21209557.0,18522065-843,843,18522065-580,29564903.0,NaN,2130-07-16 08:48:00,Vancomycin,Administered,2130-07-16 08:00:00,2130-07-16 08:48:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
33731,18522065,28089200.0,18522065-446,446,18522065-263,17883054.0,NaN,2129-10-18 08:02:00,Vancomycin,Administered,2129-10-18 08:00:00,2129-10-18 08:03:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
72378,18522065,21209557.0,18522065-622,622,18522065-366,NaN,NaN,2130-07-10 04:13:00,Vancomycin,Administered,2130-07-10 04:13:00,2130-07-10 04:13:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
78233,18522065,28089200.0,18522065-416,416,18522065-263,17883054.0,NaN,2129-10-17 10:12:00,Vancomycin,Administered,2129-10-17 10:00:00,2129-10-17 10:12:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
81133,18522065,21209557.0,18522065-856,856,18522065-617,29564903.0,NaN,2130-07-16 20:27:00,Vancomycin,Administered,2130-07-16 20:00:00,2130-07-16 20:27:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
96293,18522065,21209557.0,18522065-871,871,18522065-617,29564903.0,NaN,2130-07-17 08:59:00,Vancomycin,Administered,2130-07-17 08:00:00,2130-07-17 09:00:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
131085,18522065,21209557.0,18522065-951,951,18522065-617,29564903.0,NaN,2130-07-19 08:42:00,Vancomycin,Administered,2130-07-19 08:00:00,2130-07-19 08:45:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
138807,18522065,28089200.0,18522065-463,463,18522065-263,17883054.0,NaN,2129-10-18 19:49:00,Vancomycin,Administered,2129-10-18 20:00:00,2129-10-18 19:50:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
171671,18522065,28089200.0,18522065-483,483,18522065-263,17883054.0,NaN,2129-10-19 09:32:00,Vancomycin,Administered,2129-10-19 08:00:00,2129-10-19 09:36:00,iv,1000.0,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
178814,18522065,28089200.0,18522065-428,428,18522065-263,17883054.0,NaN,2129-10-17 19:56:00,Vancomycin,Administered,2129-10-17 20:00:00,2129-10-17 19:56:00,iv,1000.0,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
207927,18522065,21209557.0,18522065-826,826,18522065-580,58271278.0,NaN,2130-07-15 21:11:00,Vancomycin,Administered,2130-07-15 20:00:00,2130-07-15 21:11:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
210693,18522065,21209557.0,18522065-657,657,18522065-458,52091886.0,NaN,2130-07-11 08:47:00,Vancomycin,Administered,2130-07-11 08:47:00,2130-07-11 08:48:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
258998,18522065,21209557.0,18522065-927,927,18522065-617,29564903.0,NaN,2130-07-18 19:50:00,Vancomycin,Administered,2130-07-18 20:00:00,2130-07-18 19:51:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
263468,18522065,21209557.0,18522065-798,798,18522065-568,98183991.0,NaN,2130-07-15 06:00:00,Vancomycin,Administered,2130-07-15 06:00:00,2130-07-15 06:01:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
283587,18522065,21209557.0,18522065-965,965,18522065-655,23067534.0,NaN,2130-07-19 21:20:00,Vancomycin,Administered,2130-07-19 20:00:00,2130-07-19 21:20:00,iv,1000.0,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
321055,18522065,21209557.0,18522065-892,892,18522065-617,29564903.0,NaN,2130-07-17 20:07:00,Vancomycin,Administered,2130-07-17 20:00:00,2130-07-17 20:08:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)
365357,18522065,21209557.0,18522065-903,903,18522065-617,29564903.0,NaN,2130-07-18 08:54:00,Vancomycin,Administered,2130-07-18 08:00:00,2130-07-18 08:55:00,iv,1000,mg,200.0,mL,VANC1F,Vancomycin 1000 mg / 200 mL Dextrose (Premix)

In [6]:
labevents = pd.read_csv("labevents_51009_vancomycin.csv")

/var/folders/mm/1ns7h3xd5h71r5vbw2p8jkm80000gn/T/ipykernel_87842/3972630554.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  labevents = pd.read_csv('labevents_51009_vancomycin.csv')

In [7]:
labevents

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,992222,10093120,NaN,76234274,51009,NaN,2121-11-14T06:15:00,2121-11-14T07:13:00,11.4,11.4,ug/mL,10.0,20.0,NaN,ROUTINE,NaN
1,1587464,10142884,NaN,83710254,51009,NaN,2136-07-12T05:30:00,2136-07-12T06:21:00,17.2,17.2,ug/mL,10.0,20.0,NaN,ROUTINE,NaN
2,1769814,10156269,NaN,76803420,51009,P33DMF,2188-04-17T10:30:00,2188-04-17T12:43:00,___,16.8,ug/mL,10.0,20.0,NaN,STAT,UPDATED REFERENCE RANGE AS OF ___ == REPRESENT...
3,2323461,10207476,NaN,89785201,51009,P88A32,2168-12-31T10:22:00,2168-12-31T14:49:00,___,21.2,ug/mL,10.0,20.0,abnormal,STAT,UPDATED REFERENCE RANGE AS OF ___ == REPRESENT...
4,2820706,10251182,NaN,98500508,51009,NaN,2159-01-29T09:10:00,2159-01-29T10:10:00,25.0,25.0,ug/mL,10.0,20.0,abnormal,STAT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54949,9612463,10840912,25267407.0,10280852,51009,NaN,2116-06-23T20:50:00,2116-06-23T21:43:00,21.0,21.0,ug/mL,10.0,20.0,abnormal,STAT,NaN
54950,9612288,10840912,25267407.0,20867888,51009,NaN,2116-06-18T15:20:00,2116-06-18T16:39:00,21.1,21.1,ug/mL,10.0,20.0,abnormal,ROUTINE,NaN
54951,40052002,13391049,25268171.0,54392434,51009,NaN,2116-01-10T06:00:00,2116-01-10T07:41:00,9.5,9.5,ug/mL,10.0,20.0,abnormal,ROUTINE,NaN
54952,40052060,13391049,25268171.0,77920221,51009,NaN,2116-01-11T06:13:00,2116-01-11T07:35:00,11.4,11.4,ug/mL,10.0,20.0,NaN,ROUTINE,NaN
54953,40052177,13391049,25268171.0,79235179,51009,NaN,2116-01-13T22:49:00,2116-01-14T03:03:00,10.8,10.8,ug/mL,10.0,20.0,NaN,ROUTINE,NaN

In [8]:
# merge emar and labevents based on subject_id and if charttime for emar is within 48 hours of charttime for labevents

emar["charttime"] = pd.to_datetime(emar["charttime"])
labevents["charttime"] = pd.to_datetime(labevents["charttime"])

emar["charttime"] = pd.to_datetime(emar["charttime"])

labevents["charttime"] = pd.to_datetime(labevents["charttime"])

emar_labevents = pd.merge(emar, labevents, on="subject_id", how="inner")

emar_labevents["diff"] = emar_labevents["charttime_x"] - emar_labevents["charttime_y"]

emar_labevents["diff"] = emar_labevents["diff"].dt.total_seconds()

emar_labevents["diff"] = emar_labevents["diff"] / 3600

emar_labevents = emar_labevents[
    (emar_labevents["diff"] >= -48) & (emar_labevents["diff"] <= 0)
]

emar_labevents[emar_labevents["subject_id"] == 18522065]

,subject_id,hadm_id_x,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime_x,medication,event_txt,...,storetime_y,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,diff
2,18522065,21209557.0,18522065-843,843,18522065-580,29564903.0,NaN,2130-07-16 08:48:00,Vancomycin,Administered,...,2130-07-16T20:55:00,12.8,12.8,ug/mL,10.0,20.0,NaN,ROUTINE,NaN,-10.033333
12,18522065,21209557.0,18522065-826,826,18522065-580,58271278.0,NaN,2130-07-15 21:11:00,Vancomycin,Administered,...,2130-07-16T20:55:00,12.8,12.8,ug/mL,10.0,20.0,NaN,ROUTINE,NaN,-21.650000
15,18522065,21209557.0,18522065-798,798,18522065-568,98183991.0,NaN,2130-07-15 06:00:00,Vancomycin,Administered,...,2130-07-16T20:55:00,12.8,12.8,ug/mL,10.0,20.0,NaN,ROUTINE,NaN,-36.833333

In [9]:
selected_columns = emar_labevents[
    [
        "subject_id",
        "hadm_id_x",
        "emar_id",
        "charttime_x",
        "charttime_y",
        "diff",
        "dose_given",
        "dose_given_unit",
        "valuenum",
        "value",
    ]
]

In [10]:
selected_columns[selected_columns["subject_id"] == 18522065]

,subject_id,hadm_id_x,emar_id,charttime_x,charttime_y,diff,dose_given,dose_given_unit,valuenum,value
2,18522065,21209557.0,18522065-843,2130-07-16 08:48:00,2130-07-16 18:50:00,-10.033333,1000,mg,12.8,12.8
12,18522065,21209557.0,18522065-826,2130-07-15 21:11:00,2130-07-16 18:50:00,-21.650000,1000,mg,12.8,12.8
15,18522065,21209557.0,18522065-798,2130-07-15 06:00:00,2130-07-16 18:50:00,-36.833333,1000,mg,12.8,12.8

In [11]:
selected_columns[selected_columns["subject_id"] == 11826927]

,subject_id,hadm_id_x,emar_id,charttime_x,charttime_y,diff,dose_given,dose_given_unit,valuenum,value
348388,11826927,21061754.0,11826927-1473,2135-04-29 14:29:00,2135-04-30 06:00:00,-15.516667,1000,mg,25.3,25.3
348394,11826927,21061754.0,11826927-1473,2135-04-29 14:29:00,2135-05-01 05:57:00,-39.466667,1000,mg,22.0,22.0
348640,11826927,24264393.0,11826927-7162,2137-04-13 14:12:00,2137-04-15 09:20:00,-43.133333,500,mg,16.1,16.1
349005,11826927,24950761.0,11826927-6255,2137-01-12 10:31:00,2137-01-14 07:10:00,-44.650000,500,mg,14.9,14.9
349437,11826927,24264393.0,11826927-7102,2137-04-11 22:58:00,2137-04-13 10:45:00,-35.783333,1000,mg,17.3,17.3
349542,11826927,22744855.0,11826927-4258,2136-05-25 12:34:00,2136-05-26 03:22:00,-14.800000,500.0,mg,21.5,21.5
349901,11826927,24950761.0,11826927-6139,2137-01-07 20:15:00,2137-01-08 08:30:00,-12.250000,1000,mg,35.1,35.1
349903,11826927,24950761.0,11826927-6139,2137-01-07 20:15:00,2137-01-09 07:08:00,-34.883333,1000,mg,29.1,29.1
350093,11826927,20742129.0,11826927-579,2133-04-28 09:46:00,2133-04-29 08:18:00,-22.533333,1000.0,mg,15.3,15.3
350094,11826927,20742129.0,11826927-579,2133-04-28 09:46:00,2133-04-30 06:19:00,-44.550000,1000.0,mg,14.2,14.2
350566,11826927,22744855.0,11826927-4192,2136-05-23 14:00:00,2136-05-25 06:03:00,-40.050000,1000,mg,19.1,19.1
350569,11826927,22744855.0,11826927-4192,2136-05-23 14:00:00,2136-05-24 04:14:00,-14.233333,1000,mg,21.6,21.6
350807,11826927,24264393.0,11826927-7218,2137-04-15 14:35:00,2137-04-17 10:32:00,-43.950000,500,mg,18.3,18.3

In [12]:
# change column names, diff is the difference between the charttime of the emar and labevents
selected_columns.columns = [
    "subject_id",
    "hadm_id",
    "emar_id",
    "emar_charttime",
    "lab_charttime",
    "hours_diff",
    "dose_given",
    "dose_given_unit",
    "lab_valuenum",
    "lab_value",
]

# save to csv
selected_columns.to_csv("emar_labevents_vancomycin.csv", index=False)

In [13]:
merged = pd.read_csv("merged_ventilation_antibiotics.csv")

In [31]:
merged[merged["subject_id"] == 12976130]

,subject_id,hadm_id,antibiotic,route,starttime_x,stoptime,stay_id,starttime_y,endtime
67620,12976130,23375852,Vancomycin,IV,2184-05-03 08:00:00,2184-05-04 08:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67621,12976130,23375852,Vancomycin,IV,2184-05-03 08:00:00,2184-05-03 09:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67622,12976130,23375852,Vancomycin,IV,2184-05-05 08:00:00,2184-05-05 18:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67623,12976130,23375852,Vancomycin,IV,2184-05-05 08:00:00,2184-05-04 21:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67624,12976130,23375852,Vancomycin,IV,2184-05-05 19:00:00,2184-05-05 19:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67625,12976130,23375852,Vancomycin,IV,2184-05-07 08:00:00,2184-05-08 17:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67626,12976130,23375852,Vancomycin,IV,2184-05-07 08:00:00,2184-05-08 17:00:00,31728367,2184-05-06 00:00:00,2184-05-08 11:00:00
67627,12976130,23375852,Vancomycin,IV,2184-05-07 08:00:00,2184-05-08 14:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67628,12976130,23375852,Vancomycin,IV,2184-05-07 08:00:00,2184-05-08 14:00:00,31728367,2184-05-06 00:00:00,2184-05-08 11:00:00
67629,12976130,23375852,Vancomycin,IV,2184-05-08 08:00:00,2184-05-08 17:00:00,31728367,2184-05-02 23:03:00,2184-05-05 10:00:00
67630,12976130,23375852,Vancomycin,IV,2184-05-08 08:00:00,2184-05-08 17:00:00,31728367,2184-05-06 00:00:00,2184-05-08 11:00:00

In [14]:
merged[merged["subject_id_x"] == 12648465]

# remove subject_id_y and change subject_id_x to subject_id
merged = merged.drop(columns=["subject_id_y"])

merged = merged.rename(columns={"subject_id_x": "subject_id"})

merged

,subject_id,hadm_id,antibiotic,route,starttime_x,stoptime,stay_id,starttime_y,endtime
0,16284044,23864737,Vancomycin,IV,2110-01-13 20:00:00,2110-01-15 20:00:00,36817845,2110-01-13 12:00:00,2110-01-13 16:20:00
1,13201095,28453791,Vancomycin,IV,2110-01-19 16:00:00,2110-01-20 15:00:00,39953418,2110-01-18 15:00:00,2110-01-24 13:27:00
2,13201095,28453791,Vancomycin,IV,2110-01-21 16:00:00,2110-01-24 16:00:00,39953418,2110-01-18 15:00:00,2110-01-24 13:27:00
3,13201095,28453791,Vancomycin,IV,2110-01-24 17:00:00,2110-01-25 17:00:00,39953418,2110-01-18 15:00:00,2110-01-24 13:27:00
4,16006168,22277686,Vancomycin,IV,2110-01-22 00:00:00,2110-01-23 15:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
...,...,...,...,...,...,...,...,...,...
76682,12648465,22702738,Vancomycin,IV,2209-08-26 08:00:00,2209-08-27 07:00:00,32471162,2209-08-16 10:00:00,2209-08-25 23:00:00
76683,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-10 13:00:00,2209-08-10 20:00:00
76684,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-11 13:00:00,2209-08-14 00:00:00
76685,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-16 10:00:00,2209-08-25 23:00:00
76686,16554888,29815513,Vancomycin,IV,2209-12-18 20:00:00,2209-12-20 10:00:00,33463387,2209-12-18 17:00:00,2209-12-19 15:00:00

In [26]:
# subset in merge dataset for subject_ids in selected_columns_subject_ids

merged = merged[merged["subject_id"].isin(selected_columns["subject_id"])]

merged

,subject_id,hadm_id,antibiotic,route,starttime_x,stoptime,stay_id,starttime_y,endtime
4,16006168,22277686,Vancomycin,IV,2110-01-22 00:00:00,2110-01-23 15:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
5,16006168,22277686,Vancomycin,IV,2110-01-23 16:00:00,2110-01-24 14:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
6,16006168,22277686,Vancomycin,IV,2110-01-24 15:00:00,2110-01-25 01:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
7,16006168,22277686,Vancomycin,IV,2110-01-25 08:00:00,2110-01-25 17:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
8,16006168,22277686,Vancomycin,IV,2110-01-26 16:00:00,2110-01-29 09:00:00,30927169,2110-01-21 18:00:00,2110-01-25 03:00:00
...,...,...,...,...,...,...,...,...,...
76681,12648465,22702738,Vancomycin,IV,2209-08-26 08:00:00,2209-08-27 07:00:00,32471162,2209-08-11 13:00:00,2209-08-14 00:00:00
76682,12648465,22702738,Vancomycin,IV,2209-08-26 08:00:00,2209-08-27 07:00:00,32471162,2209-08-16 10:00:00,2209-08-25 23:00:00
76683,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-10 13:00:00,2209-08-10 20:00:00
76684,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-11 13:00:00,2209-08-14 00:00:00
76685,12648465,22702738,Vancomycin,IV,2209-08-26 16:00:00,2209-08-27 11:00:00,32471162,2209-08-16 10:00:00,2209-08-25 23:00:00

In [15]:
import pandas as pd

# Step 1: Calculate min and max times for each subject_id in merged
time_bounds = (
    merged.groupby("subject_id")
    .agg({"starttime_y": "min", "endtime": "max"})
    .reset_index()
)

In [16]:
time_bounds

       subject_id          starttime_y              endtime
0        10001884  2131-01-11 04:00:00  2131-01-14 07:00:00
1        10002428  2156-04-19 20:00:00  2156-05-20 09:00:00
2        10003400  2137-02-25 23:37:00  2137-08-20 08:00:00
3        10004235  2196-02-24 17:00:00  2196-02-27 16:48:00
4        10004401  2144-01-27 20:00:00  2144-06-18 11:00:00
...           ...                  ...                  ...
14002    19997752  2128-03-02 13:54:00  2128-03-02 23:00:00
14003    19997843  2120-11-18 03:00:00  2120-11-19 03:00:00
14004    19998330  2178-10-01 08:08:00  2178-11-29 08:00:00
14005    19999840  2164-09-12 09:27:00  2164-09-17 12:00:00
14006    19999987  2145-11-02 23:00:00  2145-11-03 20:54:00

[14007 rows x 3 columns]

In [17]:
# get set of subject_ids in time_bounds

time_bounds_subject_ids = set(time_bounds["subject_id"])

In [18]:
selected_columns_subject_ids = set(selected_columns["subject_id"])

In [19]:
# check if there are any subject_ids in selected_columns that are not in time_bounds

len(selected_columns_subject_ids - time_bounds_subject_ids)

4666

In [20]:
selected_columns = selected_columns.sort_values(by=["subject_id", "emar_charttime"])
selected_columns

,subject_id,hadm_id,emar_id,emar_charttime,lab_charttime,hours_diff,dose_given,dose_given_unit,lab_valuenum,lab_value
653751,10002013,NaN,10002013-821,2167-11-06 13:27:00,2167-11-08 07:18:00,-41.850000,1000,mg,14.8,14.8
653742,10002013,NaN,10002013-857,2167-11-07 10:36:00,2167-11-08 07:18:00,-20.700000,1000,mg,14.8,14.8
653756,10002013,NaN,10002013-1029,2167-11-11 17:12:00,2167-11-12 15:25:00,-22.216667,1250,mg,14.3,14.3
653737,10002013,NaN,10002013-1160,2167-12-14 17:03:00,2167-12-16 14:46:00,-45.716667,1000,mg,11.2,11.2
653761,10002013,NaN,10002013-1214,2167-12-15 17:01:00,2167-12-16 14:46:00,-21.750000,1000,mg,11.2,11.2
...,...,...,...,...,...,...,...,...,...,...
507813,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 07:02:00,-28.550000,1250,mg,24.3,24.3
507814,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 21:29:00,-43.000000,1250,mg,15.9,15.9
507816,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-30 13:18:00,-10.816667,1250,mg,39.3,39.3
507827,19995595,21784060.0,19995595-717,2126-10-31 23:22:00,2126-11-02 01:28:00,-26.100000,1000,mg,13.5,13.5
362421,19999287,20175828.0,19999287-123,2197-08-03 22:45:00,2197-08-05 17:55:00,-43.166667,1000,mg,12.8,12.8

In [21]:
selected_columns

# join selected_columns with time_bounds
selected_columns = pd.merge(selected_columns, time_bounds, on="subject_id", how="left")

selected_columns

,subject_id,hadm_id,emar_id,emar_charttime,lab_charttime,hours_diff,dose_given,dose_given_unit,lab_valuenum,lab_value,starttime_y,endtime
0,10002013,NaN,10002013-821,2167-11-06 13:27:00,2167-11-08 07:18:00,-41.850000,1000,mg,14.8,14.8,NaN,NaN
1,10002013,NaN,10002013-857,2167-11-07 10:36:00,2167-11-08 07:18:00,-20.700000,1000,mg,14.8,14.8,NaN,NaN
2,10002013,NaN,10002013-1029,2167-11-11 17:12:00,2167-11-12 15:25:00,-22.216667,1250,mg,14.3,14.3,NaN,NaN
3,10002013,NaN,10002013-1160,2167-12-14 17:03:00,2167-12-16 14:46:00,-45.716667,1000,mg,11.2,11.2,NaN,NaN
4,10002013,NaN,10002013-1214,2167-12-15 17:01:00,2167-12-16 14:46:00,-21.750000,1000,mg,11.2,11.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
59275,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 07:02:00,-28.550000,1250,mg,24.3,24.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59276,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 21:29:00,-43.000000,1250,mg,15.9,15.9,2126-10-18 03:22:00,2126-11-02 12:00:00
59277,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-30 13:18:00,-10.816667,1250,mg,39.3,39.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59278,19995595,21784060.0,19995595-717,2126-10-31 23:22:00,2126-11-02 01:28:00,-26.100000,1000,mg,13.5,13.5,2126-10-18 03:22:00,2126-11-02 12:00:00
59279,19999287,20175828.0,19999287-123,2197-08-03 22:45:00,2197-08-05 17:55:00,-43.166667,1000,mg,12.8,12.8,NaN,NaN

In [35]:
# check how many starttime_y is null
selected_columns[selected_columns["subject_id"] == 12976130]

,subject_id,hadm_id,emar_id,emar_charttime,lab_charttime,hours_diff,dose_given,dose_given_unit,lab_valuenum,lab_value,starttime_y,endtime
17071,12976130,23375852.0,12976130-19,2184-05-01 19:16:00,2184-05-03 07:55:00,-36.650000,1000,mg,20.5,20.5,2184-05-02 23:03:00,2184-05-08 11:00:00
17072,12976130,23375852.0,12976130-48,2184-05-02 07:45:00,2184-05-04 06:01:00,-46.266667,1000,mg,23.5,23.5,2184-05-02 23:03:00,2184-05-08 11:00:00
17073,12976130,23375852.0,12976130-48,2184-05-02 07:45:00,2184-05-03 07:55:00,-24.166667,1000,mg,20.5,20.5,2184-05-02 23:03:00,2184-05-08 11:00:00
17074,12976130,23375852.0,12976130-105,2184-05-03 10:45:00,2184-05-04 06:01:00,-19.266667,750.0,mg,23.5,23.5,2184-05-02 23:03:00,2184-05-08 11:00:00
17075,12976130,23375852.0,12976130-105,2184-05-03 10:45:00,2184-05-05 06:13:00,-43.466667,750.0,mg,17.6,17.6,2184-05-02 23:03:00,2184-05-08 11:00:00
17076,12976130,23375852.0,12976130-387,2184-05-07 08:17:00,2184-05-08 05:58:00,-21.683333,1000,mg,14.2,14.2,2184-05-02 23:03:00,2184-05-08 11:00:00

In [29]:
# get the subject_ids where starttime_y is null

selected_columns_subject_ids = set(selected_columns["subject_id"])

In [27]:
selected_columns_subject_ids

{11763712,
 12976130,
 12910598,
 15663111,
 11206664,
 17399817,
 17793030,
 12648465,
 14876689,
 18251795,
 11272213,
 16416795,
 10911778,
 16187427,
 12288039,
 16941107,
 14778421,
 12517435,
 19038275,
 11042885,
 15663173,
 12976207,
 13598803,
 13336663,
 12124251,
 13074524,
 13434974,
 10780769,
 12255330,
 17891425,
 17039466,
 17858668,
 14123118,
 11993200,
 16711795,
 14647415,
 19759225,
 10584187,
 15433851,
 10879112,
 15171726,
 17596563,
 12255381,
 18153627,
 15007903,
 16973998,
 11993263,
 19955908,
 14975184,
 15696083,
 10027221,
 15368407,
 14319843,
 17006822,
 17989869,
 17400046,
 19792113,
 18252022,
 18972920,
 19169531,
 10682622,
 10617087,
 12026110,
 17531138,
 16482566,
 17006856,
 13074701,
 13467921,
 11829527,
 12615964,
 18219294,
 18317602,
 14418220,
 14516528,
 18448693,
 10682684,
 19530049,
 19038530,
 15040842,
 15335760,
 13009233,
 19759447,
 18121048,
 19693912,
 10912090,
 17727837,
 14483818,
 19202413,
 17989998,
 10092911,
 12845425,
 12910967,
 16875896,
 19759491,
 16089477,
 12190096,
 16187793,
 18121111,
 12583320,
 10420639,
 16056736,
 18481570,
 14614947,
 15335846,
 17170855,
 11207080,
 15172022,
 18252222,
 14254532,
 15237577,
 13664719,
 14516688,
 12485084,
 19530208,
 10846692,
 16220647,
 12321257,
 14189034,
 11370994,
 14778884,
 18743813,
 12190214,
 13206022,
 10519063,
 13304354,
 15008298,
 16646700,
 19005999,
 19366448,
 19923506,
 13075002,
 10093120,
 16548419,
 10486342,
 14025287,
 17760843,
 11633230,
 19890784,
 15630950,
 15991401,
 13337197,
 10551922,
 12026488,
 17826428,
 15499901,
 10584705,
 18842248,
 12059273,
 12419724,
 15663758,
 12223122,
 12354194,
 11960982,
 17072793,
 13795994,
 12092059,
 18285210,
 18711194,
 19727019,
 16712364,
 15467188,
 19825332,
 15106749,
 19104448,
 10617538,
 13861581,
 16941773,
 12452560,
 16614096,
 18186977,
 11993831,
 16024297,
 10224362,
 18449132,
 16777967,
 15958770,
 19759865,
 11797249,
 14418695,
 19497735,
 16057105,
 17859352,
 19858208,
 17793825,
 17171235,
 12550948,
 13435701,
 14123835,
 14189375,
 12452675,
 10355525,
 12452689,
 10978131,
 18056024,
 15860569,
 17564506,
 16122715,
 17302363,
 16810846,
 11305824,
 17236833,
 15532923,
 18121595,
 11207557,
 17499017,
 17400716,
 12288913,
 19006357,
 15631274,
 11961264,
 17269688,
 18187193,
 11174854,
 17957832,
 18547656,
 11731917,
 11011024,
 11273169,
 19203027,
 16679893,
 13272023,
 19727323,
 19563488,
 16843758,
 17302510,
 18613232,
 13534199,
 11666426,
 17564669,
 11240446,
 11830275,
 15107078,
 16516105,
 13370388,
 12125214,
 16548895,
 18252838,
 16811048,
 13141043,
 18613311,
 16221250,
 10749008,
 15565910,
 11666524,
 13861981,
 16188510,
 14156902,
 10617964,
 14222445,
 16483436,
 11928692,
 14091380,
 14910600,
 10093718,
 10519706,
 16909472,
 11699361,
 13501602,
 18023584,
 18121891,
 10847398,
 11338928,
 15959222,
 11371718,
 10257607,
 12190919,
 13206731,
 13075661,
 13894867,
 10716372,
 14779608,
 10814691,
 12911846,
 15271162,
 17597690,
 17073405,
 13567235,
 15533315,
 16385283,
 16155910,
 17597709,
 16712988,
 14386462,
 13108511,
 19203359,
 10781985,
 11437346,
 12453158,
 17401129,
 13042988,
 11699504,
 14353713,
 11437366,
 17204536,
 18253112,
 11830586,
 15664449,
 13206852,
 19400007,
 16713035,
 18941262,
 16123216,
 15435089,
 11109718,
 13632857,
 18187609,
 16680284,
 17171812,
 13796709,
 13600112,
 10782077,
 13043084,
 18711952,
 19334544,
 19891610,
 19039643,
 15435175,
 15009197,
 13796782,
 10454455,
 19891640,
 17073597,
 10847680,
 18023872,
 15205831,
 13632970,
 12617163,
 15861194,
 16221649,
 19531222,
 11568608,
 10978790,
 18220523,
 15074797,
 18810350,
 16909817,
 14419450,
 10585606,
 15926799,
 15828496,
 15369746,
 14681621,
 10913302,
 14026266,
 11896347,
 12453404,
 19170846,
 11994659,
 19957285,
 10585646,
 19269172,
 18220597,
 11241014,
 11437634,
 13600328,
 18253389,
 10716756,
 17892964,
 11863654,
 18220646,
 13960808,
 13764208,
 12748404,
 18351737,
 16221825,
 11372162,
 14222981,
 19760774,
 11994774,
 14386842,
 11699868,
 12060317,
 15042206,
 16254622,
 19793569,
 19957410,
 16746152,
 19105451,
 18876079,
 11404988,
 11765438,
 11798209,
 17041089,
 10815171,
 16615107,
 11077323,
 17696470,
 17762007,
 10159832,
 17827543,
 18253529,
 15992540,
 14550757,
 11863782,
 12945136,
 15009524,
 13797109,
 18679547,
 10553084,
 19826427,
 18646784,
 15107848,
 15861513,
 10192651,
 12322572,
 15959825,
 19760918,
 17303323,
 11929374,
 13141797,
 12027688,
 15042347,
 13043502,
 17762094,
 13502256,
 13895472,
 18286387,
 15730484,
 13371198,
 18777918,
 17434433,
 19760971,
 13600603,
 17172316,
 17336157,
 19171163,
 15664993,
 17041263,
 17565552,
 11503474,
 17794936,
 17106814,
 16680846,
 17860497,
 18155410,
 11306899,
 19826583,
 12158876,
 11765665,
 15632290,
 17631153,
 10323890,
 13764539,
 16123839,
 18810816,
 19007436,
 16779215,
 15075280,
 11700177,
 13273041,
 16779219,
 19662810,
 12290018,
 16877538,
 11044839,
 13600750,
 13043695,
 17369071,
 13207537,
 10913779,
 18548730,
 19204092,
 16517123,
 17598481,
 16648221,
 15239201,
 17434665,
 19531819,
 19204140,
 11831341,
 11307058,
 11569208,
 14911544,
 15501368,
 16517178,
 14977088,
 15272000,
 16910400,
 19859524,
 12945480,
 13404233,
 15272011,
 13961294,
 13469776,
 15534164,
 12847190,
 18679900,
 16320616,
 10127469,
 17827950,
 18483313,
 19499121,
 11208819,
 18155640,
 11896955,
 15337600,
 10520715,
 13699216,
 17565841,
 14747794,
 11012243,
 18516112,
 19302561,
 11503781,
 19335333,
 19531944,
 10193065,
 15829163,
 16976054,
 14616765,
 13469890,
 14485702,
 12978382,
 14878930,
 10225882,
 10094811,
 19106010,
 10914014,
 14616800,
 12224737,
 10029291,
 10291435,
 18188526,
 19040502,
 17926392,
 15960313,
 18876668,
 16517380,
 18385158,
 15665415,
 12847371,
 16681228,
 12388623,
 17729814,
 15567127,
 14420248,
 18549014,
 17533213,
 19368229,
 18942246,
 12323119,
 12618032,
 18712881,
 18680129,
 16386382,
 16484690,
 13109588,
 18155864,
 19532128,
 18942307,
 11209060,
 15206760,
 14715243,
 17074541,
 17959278,
 17631600,
 10488182,
 10881399,
 13044086,
 13830520,
 16058742,
 13961598,
 11504006,
 18319753,
 10586517,
 17795477,
 14879136,
 12323237,
 16058794,
 18778539,
 12159404,
 11372975,
 15174063,
 18844079,
 19499446,
 12487096,
 12683708,
 16714180,
 17697224,
 10750422,
 13175257,
 15829476,
 10160622,
 15108590,
 16583153,
 19827186,
 12257782,
 19073526,
 16386563,
 19335687,
 15174162,
 18319908,
 11733542,
 15174186,
 17173041,
 11373108,
 12519991,
 13404727,
 16026167,
 11766333,
 12651069,
 16124481,
 10553927,
 16091719,
 10029644,
 14191181,
 13142606,
 10390100,
 16386648,
 19139160,
 13568606,
 17402466,
 10652259,
 13437561,
 18221698,
 15862403,
 19663491,
 11897489,
 16845461,
 11930286,
 11668146,
 12421828,
 17697481,
 14027466,
 16583373,
 13503188,
 13404891,
 10488542,
 13503199,
 14781154,
 19696359,
 13994735,
 11963124,
 16026359,
 17959674,
 10554112,
 18909954,
 13732618,
 18975498,
 17763085,
 12749582,
 19106574,
 15207185,
 10783512,
 14256922,
 17566492,
 14682921,
 19237689,
 19598137,
 13896515,
 10980165,
 15600453,
 11668295,
 18385734,
 10914633,
 16419658,
 11242316,
 15403852,
 19696461,
 11144021,
 19303262,
 19368813,
 13601656,
 11373442,
 19827590,
 18549646,
 18647950,
 16878480,
 19270543,
 19368849,
 11668372,
 17206165,
 18779028,
 15436705,
 12127138,
 12848034,
 19368870,
 16157611,
 11832245,
 12422071,
 17894333,
 12553150,
 15797182,
 17304513,
 14879689,
 19401674,
 14191565,
 13700052,
 18123738,
 17664995,
 18123749,
 17402854,
 13470702,
 12487695,
 15928338,
 11635746,
 17075243,
 10423343,
 18713656,
 12389435,
 15764547,
 19598403,
 17402949,
 10980425,
 16944208,
 16125017,
 13077594,
 12192859,
 13110371,
 11144294,
 10357863,
 18418794,
 13274225,
 14421108,
 18975871,
 14748801,
 10521730,
 15666306,
 17271943,
 10390664,
 14519440,
 14781586,
 11799703,
 14290075,
 19336347,
 16616607,
 14552227,
 10685605,
 13110443,
 14716081,
 13798580,
 19762385,
 11341016,
 15895770,
 15371486,
 17435881,
 19270890,
 10358003,
 18353395,
 13831416,
 15600888,
 11734276,
 14683399,
 12127502,
 12061967,
 18550032,
 11865363,
 17796373,
 11635995,
 17239324,
 16616741,
 16289064,
 14847272,
 13110574,
 16026926,
 17534255,
 16977211,
 12160317,
 18582848,
 19926342,
 19238215,
 15666511,
 14880081,
 17239380,
 13110614,
 15437146,
 18943322,
 15175005,
 18517345,
 18287972,
 10095982,
 12094831,
 11996533,
 15699321,
 13897094,
 14912902,
 15142292,
 13962649,
 12455327,
 17862049,
 14454179,
 13143465,
 10980779,
 16485803,
 10685870,
 14847413,
 12488120,
 15961528,
 11013572,
 15502789,
 19631559,
 16846280,
 13176268,
 19172819,
 13143511,
 12389850,
 14880219,
 11767260,
 18353640,
 11144686,
 11570677,
 15961605,
 11963916,
 11079199,
 14126636,
 16617005,
 10096175,
 10882616,
 10161722,
 14290495,
 10980929,
 15994443,
 19009099,
 16256599,
 10128988,
 17862236,
 15863393,
 17239652,
 14782059,
 15535729,
 18910835,
 19402357,
 18452091,
 12783237,
 14061191,
 10522253,
 16748175,
 19664531,
 10030753,
 11046564,
 11964069,
 15732392,
 15273643,
 11538096,
 17370807,
 13504185,
 10653374,
 10456768,
 19926727,
 19893966,
 18124503,
 12390105,
 19861211,
 15601381,
 14847720,
 18845416,
 13274858,
 12291829,
 19009274,
 10850048,
 10882818,
 17796867,
 18091782,
 16420618,
 11964186,
 10456861,
 14094109,
 15470366,
 11308832,
 17436451,
 17829667,
 19205925,
 15109929,
 10129197,
 11603757,
 13602608,
 15929143,
 18583363,
 12029767,
 14192456,
 13209424,
 13274960,
 11439955,
 14061397,
 10227550,
 14389089,
 10882916,
 15798128,
 10915697,
 16224114,
 15339388,
 14028670,
 12357504,
 15110016,
 11308937,
 14978955,
 17567629,
 19664783,
 19959697,
 12586902,
 15404950,
 16420761,
 15765403,
 13832093,
 18583455,
 10620832,
 14061482,
 18223019,
 19599279,
 10751923,
 11669435,
 11341770,
 15241162,
 17207245,
 10915797,
 12095449,
 19468249,
 19075045,
 10063848,
 13275119,
 11636721,
 14225395,
 12587000,
 15503360,
 19173381,
 10752010,
 14290961,
 17305617,
 12390419,
 13766686,
 14651424,
 13733933,
 15503409,
 19894323,
 10850358,
 15667255,
 10326078,
 16289865,
 18452564,
 16126049,
 12652642,
 18026603,
 13733998,
 11604088,
 16617596,
 18288770,
 17797252,
 19599496,
 16289933,
 19927184,
 11997330,
 17633426,
 15831207,
 11210923,
 18911407,
 10064049,
 16289971,
 14618815,
 15700165,
 18845894,
 17404106,
 15175883,
 11833554,
 14323922,
 18714839,
 12947673,
 11014367,
 18387167,
 17043686,
 17567980,
 15470833,
 12488949,
 12325110,
 19894518,
 10031358,
 13537559,
 15667494,
 19108134,
 19403047,
 19796262,
 19992875,
 10064176,
 16453939,
 14389560,
 18092355,
 13340997,
 15241554,
 13537623,
 10424665,
 15307100,
 13406560,
 10785126,
 16290150,
 12161387,
 10686831,
 12390772,
 15798647,
 19009923,
 11506052,
 15307141,
 17273227,
 15208852,
 17731990,
 16290202,
 13898139,
 13734306,
 13439409,
 14324150,
 13898167,
 15274423,
 ...}

In [37]:
# filter out rows where emar_charttime is between starttime_y and endtime

selected_columns["emar_charttime"] = pd.to_datetime(selected_columns["emar_charttime"])
selected_columns["starttime_y"] = pd.to_datetime(selected_columns["starttime_y"])
selected_columns["endtime"] = pd.to_datetime(selected_columns["endtime"])

selected_columns = selected_columns[
    (selected_columns["emar_charttime"] >= selected_columns["starttime_y"])
    & (selected_columns["emar_charttime"] <= selected_columns["endtime"])
]

selected_columns

,subject_id,hadm_id,emar_id,emar_charttime,lab_charttime,hours_diff,dose_given,dose_given_unit,lab_valuenum,lab_value,starttime_y,endtime
18,10007818,22987108.0,10007818-804,2146-06-29 12:48:00,2146-06-30 03:23:00,-14.583333,1000,mg,12.3,12.3,2146-06-22 13:00:00,2146-07-12 15:00:00
19,10007818,22987108.0,10007818-804,2146-06-29 12:48:00,2146-07-01 03:10:00,-38.366667,1000,mg,19.7,19.7,2146-06-22 13:00:00,2146-07-12 15:00:00
20,10007818,22987108.0,10007818-875,2146-06-30 14:45:00,2146-07-01 03:10:00,-12.416667,1000,mg,19.7,19.7,2146-06-22 13:00:00,2146-07-12 15:00:00
21,10007818,22987108.0,10007818-875,2146-06-30 14:45:00,2146-07-02 06:03:00,-39.300000,1000,mg,18.2,18.2,2146-06-22 13:00:00,2146-07-12 15:00:00
22,10007818,22987108.0,10007818-1190,2146-07-09 16:53:00,2146-07-11 07:16:00,-38.383333,1000,mg,18.8,___,2146-06-22 13:00:00,2146-07-12 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
59274,19995595,21784060.0,19995595-598,2126-10-29 14:30:00,2126-10-30 13:18:00,-22.800000,1250,mg,39.3,39.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59275,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 07:02:00,-28.550000,1250,mg,24.3,24.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59276,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 21:29:00,-43.000000,1250,mg,15.9,15.9,2126-10-18 03:22:00,2126-11-02 12:00:00
59277,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-30 13:18:00,-10.816667,1250,mg,39.3,39.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59278,19995595,21784060.0,19995595-717,2126-10-31 23:22:00,2126-11-02 01:28:00,-26.100000,1000,mg,13.5,13.5,2126-10-18 03:22:00,2126-11-02 12:00:00

In [40]:
selected_columns

,subject_id,hadm_id,emar_id,emar_charttime,lab_charttime,hours_diff,dose_given,dose_given_unit,lab_valuenum,lab_value,starttime_y,endtime
18,10007818,22987108.0,10007818-804,2146-06-29 12:48:00,2146-06-30 03:23:00,-14.583333,1000,mg,12.3,12.3,2146-06-22 13:00:00,2146-07-12 15:00:00
19,10007818,22987108.0,10007818-804,2146-06-29 12:48:00,2146-07-01 03:10:00,-38.366667,1000,mg,19.7,19.7,2146-06-22 13:00:00,2146-07-12 15:00:00
20,10007818,22987108.0,10007818-875,2146-06-30 14:45:00,2146-07-01 03:10:00,-12.416667,1000,mg,19.7,19.7,2146-06-22 13:00:00,2146-07-12 15:00:00
21,10007818,22987108.0,10007818-875,2146-06-30 14:45:00,2146-07-02 06:03:00,-39.300000,1000,mg,18.2,18.2,2146-06-22 13:00:00,2146-07-12 15:00:00
22,10007818,22987108.0,10007818-1190,2146-07-09 16:53:00,2146-07-11 07:16:00,-38.383333,1000,mg,18.8,___,2146-06-22 13:00:00,2146-07-12 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
59274,19995595,21784060.0,19995595-598,2126-10-29 14:30:00,2126-10-30 13:18:00,-22.800000,1250,mg,39.3,39.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59275,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 07:02:00,-28.550000,1250,mg,24.3,24.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59276,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-31 21:29:00,-43.000000,1250,mg,15.9,15.9,2126-10-18 03:22:00,2126-11-02 12:00:00
59277,19995595,21784060.0,19995595-619,2126-10-30 02:29:00,2126-10-30 13:18:00,-10.816667,1250,mg,39.3,39.3,2126-10-18 03:22:00,2126-11-02 12:00:00
59278,19995595,21784060.0,19995595-717,2126-10-31 23:22:00,2126-11-02 01:28:00,-26.100000,1000,mg,13.5,13.5,2126-10-18 03:22:00,2126-11-02 12:00:00